@use "./_varibal" as v;
.header {
  background-color: v.$color-white;
  transition-duration: 0.3s;
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  &__inner {
    width: 100%;
    display: flex;
    padding: 18px 23px 10px 30px;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    transition-duration: 0.3s;
  }
  &__logo:hover,
  &__hamburger-menu:hover {
    opacity: 0.7;
  }
  &__logo-img {
    fill: v.$color-primary;
    margin-top: 5px;
  }
  &__company {
    margin-left: 20px;
  }
  &__company-description {
    font-size: 12px;
    color: v.$color-gray;
    margin-top: 2px;
  }
  &__company h1 {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    padding-top: 5px;
  }
  &__hamburger-menu {
    padding-top: 10px;
    transition-duration: 0.3s;
  }
}
.hamburger-menu {
  &__top,
  &__middle,
  &__bottom {
    width: 20px;
    height: 2px;
    background-color: v.$color-primary;
    transition-duration: 0.3s;
    display: block;
    margin-bottom: 4px;
    margin-left: 4px;
  }
  &__bottom {
    margin-bottom: 0px;
  }
  &__text {
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 2px;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic,
      "游ゴシック体", sans-serif;
  }
}
.navigation_expanded {
  &.header {
    background-color: v.$color-primary;
    color: v.$color-white;
  }
  .header {
    &__inner {
      padding-right: 20px;
    }
    &__company-description {
      color: v.$color-white;
    }
  }
  .hamburger-menu {
    &__top,
    &__middle,
    &__bottom {
      background-color: v.$color-white;
    }
    &__top {
      transform: rotate(45deg) translateX(6px) translateY(6px);
    }
    &__middle {
      height: 0px;
    }
    &__bottom {
      transform: rotate(-45deg) translateX(-3px) translateY(2px);
      margin-bottom: 10px;
    }
    &__text {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 2;
      padding-right: 2px;
    }
  }
  .header__logo-img {
    fill: v.$color-white;
  }
}
